<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <property name="LOG_PATH" value="/home/spring-data-jpa/logs/"/>
  <property name="LOG_FILE" value="spring-data-jpa"/>

  <springProfile name="default">
    <include resource="logging/logback-default.xml"/>
  </springProfile>

  <springProfile name="dev">
    <include resource="logging/logback-dev.xml"/>
  </springProfile>

  <springProfile name="qa">
    <include resource="logging/logback-qa.xml"/>
  </springProfile>

  <springProfile name="cbt">
    <include resource="logging/logback-cbt.xml"/>
  </springProfile>

  <springProfile name="sandbox">
    <include resource="logging/logback-sandbox.xml"/>
  </springProfile>

  <springProfile name="prod">
    <include resource="logging/logback-prod.xml"/>
  </springProfile>
</configuration>
